
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Home</h2>

<style>
    body {
        background-color: azure;
    }

    .button {
        background-color: crimson;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
        width: 50;
        background-color: burlywood;
    }

    p {
        text-align: center;
    }
</style>

<table style="text-align:center"  >
    <tr>
        <td border:"1|0">
            <b> Philosophy</b>
        </td>
    </tr>
    <tr>
        <td>
            <b> Author</b>
        </td>
        <td>
            Kate Kirkpatrick
        </td>
        <td>
            <b> Name</b>
        </td>
        <td>
            Becoming Beauvoir a Life
        </td>
    </tr>
    <tr>
        <td>
            <b> Encyclopedia</b>
        </td>
    </tr>
    <tr>
        <td>
            <b> Author</b>
        </td>
        <td>
            Scott Fetzer Company
        </td>
        <td>
            <b> Name</b>
        </td>
        <td>
            World Book Encyclopedia
        </td>
    </tr>
    <tr>
        <td>
            <b> Music</b>
        </td>
    </tr>
    <tr>
        <td>
            <b> Author</b>
        </td>
        <td>
            Debra Craine and Judith Mocekrell
        </td>
        <td>
            <b> Name</b>
        </td>
        <td>
            The Oxford Dictionary of Dance
        </td>
    </tr>
    <tr>
        <td>
            <b> Literature</b>
        </td>
    </tr>
    <tr>
        <td>
            <b> Author</b>
        </td>
        <td>
            Oscar Wilde
        </td>
        <td>
            <b> Name</b>
        </td>
        <td>
            The Picture of Dorian Gray
        </td>
    </tr>

</table>



